<!doctype html>
<html lang="en" ng-app="movieApp">

<head>
  <meta charset="utf-8">
  <title>Movie App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body ng-controller="MovieAppController">
  <div class="container">
    <div class="col-xs-12">
      <div class="row">Brought to you by:
        <img src="assets/img/tmdb-primary-green.png" alt="" class="img img-responsive">
      </div>
      <div ng-if="!movies">
        We couldn't find any movies! Sorry!
      </div>
      <div ng-if="movies" class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Vote Count</th>
          </tr>
          <tr ng-repeat="movie in movies">
            <td><a href="#">{{ movie.title }}</a></td>
            <td>{{ movie.date }}</td>
            <td>{{ movie.rating }}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app.js"></script>

</html>