<h1>20 Popular Sci-fi Movies Released in 2015</h1>
<div ng-if="movies.length == 0">
  <h3 class="text-center">We couldn't find any movies! Sorry!</h3>
</div>
<div ng-if="movies.length > 0" class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>
        <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
          Title
          <span ng-show="sortType == 'title' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-show="sortType == 'title' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'release_date'; sortReverse = !sortReverse">
          Release Date
          <span ng-show="sortType == 'release_date' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-show="sortType == 'release_date' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </th>
      <th>     
        <a href="#" ng-click="sortType = 'vote_count'; sortReverse = !sortReverse">
          Vote Count
          <span ng-show="sortType == 'vote_count' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-show="sortType == 'vote_count' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </th>
    </tr>
    <tr ng-repeat="movie in movies | orderBy:sortType:sortReverse">
      <td>
        <a ui-sref="about" ui-sref-active="active" ng-click="selectMovie(movie)">{{ movie.title }}</a>
      </td>
      <td>{{ movie.release_date}}</td>
      <td>{{ movie.vote_count }}</td>
    </tr>
  </table>
</div>